body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    font-family: sans-serif;
    margin: 0;
}

.login-container {
   background: rgba(32, 6, 151, 0.313);
   padding: 20px 40px;
   border-radius: 10px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   text-align: center; 
}

.login-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

.input-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100px;
    padding: 10px;
    background: #6e8efb;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;

}

button:hover{
    background: #a777e3;
}

@keyframes slide-in {
    from{
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes input-focus{
    0% {
        border-color: #ddd;
    }
    100%{
        border-color: #6e8efb
    }
}

.error-message {
    color: red;
    margin-top: 10px;
    display: none;

}